  <!-- Panel Bottom #09 -->
  <nav class="panel bottom">
    <div class="sections">
      <div class="left"></div>
      <div class="center"><span class="nextSlide"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrow-down"></use></svg></span></div>
      <div class="right"></div>
    </div>
  </nav>
  <nav class="panel bottom lastSlideOnly forceMobileView">
    <div class="sections desktop">
      <div class="left">{% if page.url == "/" %}Powered by <a href="https://matterport.com/" class="button hollow"><img alt="Matterport" src="assets/svg/MP-logoTM_H_lock-RGB_color-white.svg" width="112" height="42"/></a>{% endif %}</div>
      <div class="center">© 2020 Immersography LLC</div>
      <div class="right"></div>
    </div>
    <div class="sections compact hidden">
      <div class="center">
        <p class="small margin-bottom-1">{% if page.url == "/" %}Powered by <a href="https://matterport.com/" class="button hollow"><img alt="Matterport" src="assets/svg/MP-logoTM_H_lock-RGB_white.svg" width="112" height="42"/></a>{% endif %}</p>
        <p class="small margin-bottom-1">© 2020 Immersography LLC</p>
      </div>
    </div>
  </nav>