  <!-- Navigation -->
  <nav class="side ">
    <div class="navigation default">
      <ul></ul>
    </div>
  </nav><!-- Panel Top #02 -->
  <nav class="panel top hideOnScroll firstSlideOnly">
    <div class="sections desktop">
      <div class="left"><a href="/" title="immersography"><img alt="Immersography" src="assets/svg/logo-header.svg" width=200; /></a></div>
      <div class="right">
        <span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span>
      </div>
    </div>
    <div class="sections compact hidden">
      <div class="left"><a href="#" title="immersography"><img alt="Immersography" src="assets/svg/logo-header.svg" width=200; /></a></div>
      <div class="right"><span class="button actionButton sidebarTrigger" data-sidebar-id="1"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu"></use></svg></span></div>
    </div>
  </nav>
  
  <!-- Sidebar -->
  <nav class="sidebar" data-sidebar-id="1">
    <div class="close"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close"></use></svg></div>
    <div class="content">
      <a href="/" class="logo"><img alt="Immersography" src="assets/svg/logo-header.svg" width=200; /></a>
      <ul class="mainMenu margin-top-3">
        <li><a href="#info">Info</a></li>
        <li><a href="#real-estate">Real Estate</a></li>
        <li><a href="#business">Business</a></li>
        <li><a href="#insurance">Insurance</a></li>
        <li><a href="#hospitality">Travel &amp; Hospitality</a></li>
        
      </ul>
      <ul class="subMenu small opacity-8">
        <li><a href="#contact">Contact Us</a></li>
        <li><a href="privacy.html">Privacy Policy</a></li>
        <li><a href="terms.html">Terms of Service</a></li>
      </ul>
      <ul class="social opacity-8">
        <!-- <li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#facebook"></use></svg></a></li> -->
        <li><a href="https://twitter.com/immersography"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#twitter"></use></svg></a></li>
        <li><a href="https://www.instagram.com/immersography/"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#instagram"></use></svg></a></li>
      </ul>
    </div>
  </nav>